@model bootswatch.Models.Etudiant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Etudiant</legend>

    <div class="display-label">Nom_Et</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom_Et)
    </div>

    <div class="display-label">Classe</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Classe)
    </div>

    <div class="display-label">Age_et</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age_et)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
