@{
    ViewBag.Title = "Page d'accueil";
}

<h2>@ViewBag.Message</h2>
<p>
    Pour en savoir plus sur ASP.NET MVC, visitez le site <a href="http://asp.net/mvc" title="Site Web ASP.NET MVC">http://asp.net/mvc</a>.
</p>
